.contact-form {
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    h1{
        font-size: 38px;
        margin-bottom: 50px;
        text-align: center;
    }
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  textarea{
    height:250px;
  }
}

.contact-form input[type="submit"] {
  background-color: #4c87af;
  color: #fff;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #2d648a;
}

.color-a {
    font-weight: bold !important;
    &:hover{
        color: rgb(11, 86, 156) !important; 
    }
}

