// Variables para el uso con un import en el main.scss, estas variables tambien se pueden utilizar en otras utilidades de sass

$font-stack: Arial, Helvetica, sans-serif;
$header-bg: #FFFFFF;
$nav-border-color: #c2c0c093;
$shadow-color1: rgba(240, 137, 137, 0.192);
$shadow-color2: rgba(0, 0, 0, 0.06);
$link-color: rgb(0, 0, 0);
$button-text: rgb(0, 0, 0);
$button-bg: #007bff;
$button-hover-bg: #0056b3;
$transparent-color: transparent;
$sections-bg: #a5daeb;
$bg-img-footer: url('../../img/footerFisio.jpg');